.ui.borderless.topmenu.secondary.menu{
  color:black;
  padding-left: 45px;
  font-size: 10px;
}

.ui.borderless.midmenu.secondary.menu{
  background-color: black;
  color:white;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 45px;
  box-sizing: border-box;

}

.ui.left.image{
  width: 125px;
  height: 23px;
  margin-top: 9px;
  margin-left: 14px;
}

.ui.moskova.dropdown.item{
  color:white;
  font-size: 14px;
  font-family: Lato;
}

.ui.moskova.item{
  color:white;
  font-size: 14px;
  font-family: Lato;
}

.ui.fliud.image{
  margin-top: -14px;
}

#dropone{
  background-color: slategrey;
  color: white;
  font-family: Lato;
}
#droptwo{
  background-color: slategrey;
  color: white;
  font-family: Lato;
}
#dropthree{
  background-color: slategrey;
  color: white;
  font-family: Lato;
}